<header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-white">MySmartRecipe is based on food photo recognition to get probable ingredients, then recommend recipes of the ingredients user picks.</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Introduction</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Team</a></li>
                  <li><a href="#" class="text-white">Technology</a></li>
                  <li><a href="#" class="text-white">Documentation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img id="app-logo" src="img/applogo.png">
                <strong id="app-name">&nbspMySmartRecipe</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-6 text-center">
                <div class="camera">
                    <video id="video">Video stream not available.</video>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <canvas id="canvas">
                </canvas>
                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box.">
                </div>
            </div>  
        </div>
    </div>

    <!-- two buttons -->
    <div class="container button-group">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-8 text-center">
                <a id="start-button" role="button">Snap a photo of your food!</a>
            </div>
        </div>
        <div class="row justify-content-around second-button">
            <div class="col-sm-10 col-md-8 text-center">
                <a href="/ingredient" id="ingredient-button" role="button">See Possible Ingredients</a>  
            </div>    
        </div>
    </div>
    


    <div class="ingredients">

    </div>
    
    <script src="script.js"></script>

    <script src="./js/cameraOp.js"></script>
    <script src="./js/frontend.js"></script>

    <footer class="text-center text-light">
        <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
    </footer>