<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img id="app-logo" src="img/applogo.png">
            <strong id="app-name">&nbspMySmartRecipe</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="log-in" href="/signin">LOG IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sign-up" href="/createprofile">SIGN UP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container photo">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-6 text-center">
                <div class="camera">
                    <video id="video">Video stream not available.</video>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <canvas id="canvas">
                </canvas>
                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box.">
                </div>
            </div>  
        </div>
    </div>

    <!-- two buttons -->
    <div class="container button-group">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-8 text-center">
                <a class="button" id="start-button" role="button">Snap a photo of your food!</a>
            </div>
        </div>
        <div class="row justify-content-around second-button">
            <div class="col-sm-12 col-md-8 text-center">
                <a href="/ingredient" class="button" id="ingredient-button" role="button">See Possible Ingredients</a>  
            </div>    
        </div>
    </div>
    
    <div class="ingredients">

    </div>
    

    <script src="/js/cameraOp.js"></script>
    <script src="/js/camera.js"></script>

    <footer class="text-center text-light">
        <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
    </footer>