<div class="container photo">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-6 text-center">
                <div class="camera">
                    <video id="video">Video stream not available.</video>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <canvas id="canvas">
                </canvas>
                <div class="output">
                    <img id="photo" alt="The screen capture will appear in this box.">
                </div>
            </div>  
        </div>
    </div>

    <!-- two buttons -->
    <div class="container button-group">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-8 text-center">
                <a class="button" id="start-button" role="button">Snap a photo of your food!</a>
            </div>
        </div>
        <div class="row justify-content-around second-button">
            <div class="col-sm-12 col-md-8 text-center">
                <a href="/ingredient" class="button" id="ingredient-button" role="button">See Possible Ingredients</a>  
            </div>    
        </div>
    </div>
    
    <div class="ingredients">

    </div>
    

    <script src="/js/cameraOp.js"></script>
    <script src="/js/frontend.js"></script>

    <footer class="text-center text-light">
        <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
    </footer>