<img id="header-burger"src="public/assets/burgertitle.jpeg" alt="burger-icon">
<h1 id="title">Smart Recipe Logger</h1>

<form id="add-burger">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Submit</button>
</form>
<h4>Enter a burger you want to eat!</h4>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger}}

        <button data-burgerid="{{this.id}}" class="devour">Devour it!</button>
      </p>
    </li>
  {{/each}}
</ul>

<script src="script.js"></script>