<div class="container process">
        <div class="row">
            <div class="col-sm-12">
                <h4 id="process-title">How the process works:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <a href="https://docs.clarifai.com/" target="_blank">
                        <img id="process-diagram" src="img/process.jpg" alt="process-diagram"></a>
                    <h8 class="text-muted" id="process-subtitle">From clarifai.com</h8>
                </div>
            </div>
        </div>
    </div>
   
    <!-- how to make let the space between btns smaller? -->
    <div class="container two-buttons">
        <div class="row">
            <h3 id="start-title">Start with an image!</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5 row-1 text-center">       
                <a class="button" href="/camera" id="camera-button" role="button">Snap a photo!</a>  
            </div>
            <div class="col-sm-12 col-md-2 text-center or">       
                <h4 id="or">or</h4> 
            </div>
            <div class="col-sm-12 col-md-5 row-2 text-center">  
                <a class="button" href="/upload" id="upload-button" role="button">Upload a pic!</a>              
            </div> 
        </div> 
    </div>
   
    
    <script src="../public/js/frontend.js"></script>

    <!-- sticky footer? -->
    <footer class="text-center text-light">
        <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
    </footer>