<img id="jumbotron" src="img/jumbotron2.jpg">

    <!-- why MySmartRecipe? -->
    <div class="container why">
        <div class="row ">
            <div class="col-12 text-center">
                <h4 id="question">Why MySmartRecipe?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="row">
                    <img class="why-graphic" id="phone-img" src="img/phone.png">
                </div>
                <div class="row text-center">
                    <h6 class="why-text"><strong>Fast and effiecient</strong></h6>
                    <p class="why-text sm-text">All you need to do is taking a photo of your ingredients onhand</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="row">
                    <img class="why-graphic" src="img/tech.png">
                </div>
                <div class="row text-center">
                    <h6 class="why-text title"><strong>Smart and intelligent</strong></h6>
                    <p class="why-text sm-text">Based on image recognition Technology</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="row">
                    <img class="why-graphic" src="img/food.png">
                </div>
                <div class="row text-center">
                    <h6 class="why-text"><strong>Healthy and delish</strong></h6>
                    <p class="why-text sm-text">Taking full control of what you eat and food quality</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="row">
                    <img class="why-graphic" src="img/money.png">
                </div>
                <div class="row text-center">
                    <h6 class="why-text"><strong>Affordable and convenient</strong></h6>
                    <p class="why-text sm-text">Groceries saves money without you noticing</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container process">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 id="process-title">How it works:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <a href="https://docs.clarifai.com/" target="_blank">
                        <img id="process-diagram" src="img/process.jpg" alt="process-diagram"></a>
                    <h8 class="text-muted" id="process-subtitle">From clarifai.com</h8>
                </div>
            </div>
        </div>
    </div>
   
    <div class="container two-buttons">
        <div class="row">
            <h3 id="start-title">Get started!</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5 row-1 text-center">       
                <a class="button" href="/camera" id="camera-button" role="button">Take a photo!</a>  
            </div>
            <div class="col-sm-12 col-md-2 text-center or">       
                <h4 id="or">or</h4> 
            </div>
            <div class="col-sm-12 col-md-5 row-2 text-center">  
                <a class="button" href="/upload" id="upload-button" role="button">Upload a photo!</a>              
            </div> 
        </div> 
    </div>
   

    <!-- sticky footer? -->
    <footer class="text-center text-light">
        <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
    </footer>