<div class="container main">
        <div class="row big-row">
            <div class="col-sm-12 col-md-8 text-center photo-col ">

              <div class="row photo-row">
                <!-- placeholder photo -->
                <img id="photo-captured" src="img/foodplaceholder.jpeg">
              </div>
              <div class="row">
                <a href="/camera" id="retake-button" role="button">Retake photo</a>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 table-col">
              <div class="row">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">PREDICTED INGREDIENT</th>
                      <th scope="col">PROBABILITY</th>
                      <th scope="col">SELECTION</th>
                    </tr>
                  </thead>
                  <tbody id="predicted-ingredients">
                  </tbody>
                </table>
              </div>

              <div class="row">
                <a href="/recipe" class="button" id="recipe-button" role="button">Find Recipes!</a> 
              </div>    
            </div>
        </div>
    </div>
    
    

    <script src="/js/ingredient.js"></script>

    <footer class="text-center text-light">
        <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
    </footer>