<div class="container main">
        <div class="row big-row">
            <div class="col-sm-12 col-md-8 text-center photo-col ">

              <div class="row photo-row">
                <!-- placeholder photo -->
                <img id="photo-captured" src="img/foodplaceholder.jpeg">
              </div>
              <div class="row">
                <a href="/camera" id="retake-button" role="button">Retake photo</a>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 table-col">
              <div class="row">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">PREDICTED INGREDIENT</th>
                      <th scope="col">PROBABILITY</th>
                      <th scope="col">SELECTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>syrup</td>
                      <td>98.8%</td>
                      <td><input class="checkbox" type="checkbox" aria-label="Checkbox"></td>
                    </tr>
                    <tr>
                      <td>waffle</td>
                      <td>98.0%</td>
                      <td><input class="checkbox" type="checkbox" aria-label="Checkbox"></td>
                    </tr>
                    <tr>
                      <td>french toast</td>
                      <td>95.7%</td>
                      <td><input class="checkbox" type="checkbox" aria-label="Checkbox"></td>
                    </tr>
                    <tr>
                      <td>coffee</td>
                      <td>93.4%</td>
                      <td><input class="checkbox" type="checkbox" aria-label="Checkbox"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">
                <a href="/recipe" class="button" id="recipe-button" role="button">Find Recipes!</a> 
              </div>    
            </div>
        </div>
    </div>
    
    

    <script src="../public/js/frontend.js"></script>

    <footer class="text-center text-light">
        <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
    </footer>