<!-- Ingredients picked-->
    <div class="container main">
        <div class="row">
            <div class="col-sm-12">
                <h4>Selected Ingredients: <span id="selected-ingreds"></span></h4>
            </div>
        </div>

        <!-- Recipes cards -->
        <div class="row" id="recipe-cards">
            <div class="col-sm-12 col-md-12">
                <h4>Recipes</h4>
            </div>
        </div>
    </div>
    <div class="modal fade" id="recipe-instructions" tabindex="-1" role="dialog" aria-labelledby="recipe instructions" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recipe-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="recipe-img" class="card-img-top">
                    <p id="cooking-time"></p>
                    <p id="servings"></p>
                    <p id="ingredients"></p>
                    <p id="instructions>"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-primary" target="_blank">Go To Source</a>
                </div>
            </div>
        </div>
        </div>

    {{!-- card --}}
    {{!-- <div class="card">
    <img src="..." class="card-img-top" alt="dish-pic">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">See Recipe Link</a>
        </div>
    </div> --}}

    <!-- prompt to create profile -->
    <div class="container two-buttons">
        <div class="row">
            <h5 id="start-profile">Would you like to create a profile?</h5>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">       
                <a class="button" href="/createprofile" id="create-profile-btn" role="button">Create A Profile</a>  
            </div>
            
            <div class="col-sm-12 col-md-6 text-center">  
                <a class="button" href="/" id="no-profile-btn" role="button">No I'm good</a>              
            </div> 
        </div> 
    </div>

<script src="/js/recipe.js"></script>

<footer class="text-center text-light">
    <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
</footer>