<!-- Ingredients picked-->
      <div class="container main">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h4>Selected Ingredients:</h4>
            </div>
        </div>

        <!-- Recipes cards -->
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h4>Recipes:</h4>
                {{!-- put recipe cards here --}}
                {{#each recipes}}
                <div>
                    {{this}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- card --}}
    <div class="card">
    <img src="..." class="card-img-top" alt="dish-pic">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">button place holder</a>
    </div>
    </div>

    <!-- prompt to create profile -->
    <div class="container two-buttons">
        <div class="row">
            <h5 id="start-profile">Would you like to create a profile?</h5>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">       
                <a class="button" href="/createprofile" id="create-profile-btn" role="button">Create A Profile</a>  
            </div>
            
            <div class="col-sm-12 col-md-6 text-center">  
                <a class="button" href="/" id="no-profile-btn" role="button">No I'm good</a>              
            </div> 
        </div> 
    </div>

<script src="/js/frontend.js"></script>

<footer class="text-center text-light">
    <p id="copyright">© 2019 Copyright Harry Jasmine Nicole Scott O.</p>
</footer>