* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
/* scroll smoothly effect, not using for now */
/* html {
  scroll-behavior: smooth;
} */

/* Top Navbar --------------------------*/
/* #navbarHeader, .navbar{
  background-color: #e16556 !important;
}
.navbar-toggler{
  color: white;
  border: none;
} */
a.button:hover{
  text-decoration: none;
  color: #e16556 !important;
  background-color: #a9d7cc !important;
}

/* index.html css---------------------------------------------------- */
#app-logo{
  width: 28px;
}
#app-name{
  color: #e16556;
  font-size: 24px;
}
#log-in{
  color: #6a6d75;
  font-size: 13px;
}
#sign-up{
  color: white;
  background-color: #e16556;
  font-size: 13px;
}
.navbar-toggler{
  border: 0;
}
#jumbotron{
  width: 100%;
}
.why{
  margin-top: 40px;
}
#question{
  color: #343434;
  margin-bottom: 20px;
}
.why-graphic{
  margin: 0 auto;
  width: 40%;
  padding: 15px;
}
/* #phone-img{
  width: 30%;
} */
.why-text{
  margin: 0 auto;
  color: #343434;
}
.sm-text{
  font-size: 14px;
  padding: 0 8px;
}
.start{
  margin-top: 50px;
}
.process{
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: #F8F8F8; */
}
#process-diagram{
  width: 90%;
}
#process-subtitle{
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
#start-title{
  margin: 0 auto 20px auto;
}
.two-buttons{
  margin-top: 50px;
}
#camera-button, #upload-button{
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #e16556;
  padding: 7px 30px;
  width: 60%;
}
#camera-button{
  position: absolute; 
  right: 0;  /* align to the right */
}
#upload-button{
  position: absolute; 
  left: 0;  /* align to the left */
}
#or{
  margin: 8px auto;
}
/* .or, .row-1, .row-2{
  border: 1px black solid;
} */

/* camera.html css --------------------------------------------*/
.photo{
  margin-top: 50px;
}
#video {
  border: 1px solid #e16556;
  height: 240px;
}
#photo {
  border: 1px solid #e16556;
  height: 240px; 
}
#canvas {
  display: none;
}
.camera {
  display: inline-block;
}
.output {
  display: inline-block;
}
/* .contentarea { 
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
} */
.camera-group{
  margin-top:50px;
}
.button-group{
  margin-top: 60px;
}
.second-button{
  margin-top: 30px;
}
#start-button{
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #e16556;
  padding: 10px 20px;
}
#ingredient-button{
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #e16556;
  padding: 10px 20px;
}

/* ingredient.html css--------------------------------------------*/
.main{
  margin-top:40px;
}
.photo-col{
  background-color: #a9d7cc;
  padding: 0;
}
/* .photo-row{
  margin-left: 0;
  margin-right: 0;
} */
#photo-captured{
  margin: 20px auto 40px auto;
}
#retake-button{
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #e16556;
  border: 1px solid #e16556;
  padding: 3px 7px;
  margin: 0 auto 40px auto;
}
#retake-button:hover{
  text-decoration: none;
  color: white !important;
  background-color: #e16556 !important;
}
.table-col{
  padding-left: 50px;
}
th,td,tr{
  padding-left: 0 !important;
}
#recipe-button{
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #e16556;
  padding: 10px 20px;
}

/* recipe.html css --------------------------------------------*/
#start-profile{
  margin: 0 auto 10px auto;
}
#create-profile-btn, #no-profile-btn{
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #e16556;
  padding: 7px 30px;
  width: 50%;
}
#create-profile-btn{
  position: absolute; 
  right: 0;  /* align to the right */
  margin-right: 10px;
}
#no-profile-btn{
  position: absolute; 
  left: 0;  /* align to the left */
  margin-left: 10px;
}

/* createprofile.html css --------------------------------------------*/
#sign-up-btn, #login-btn{
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #e16556;
  padding: 5px 30px;
  width: 30%;
}
#here{
  color: #e16556;
  font-weight: bold;
}
/* Bottom Footer --------------------------------------------*/
footer {
  margin-top: 100px;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 40px; /* Set the fixed height of the footer */
  background-color: #e16556;
}
#copyright {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  height: 50px;
}

/* Media Query --------------------------------------------*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #camera-button, #upload-button{
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    position: relative; /* reset alignment for mobile! */
  }
  .row-1, .row-2{
    padding-left: 20px;
    padding-right: 20px;
  }
  #start-title{
    font-size: 18px;
  }
  #or{
    font-size: 14px;
    margin: 8px auto;
  }
}